# Prerequisites
*.d

# Ignore some UE4 directories
Uproject/Saved/
Uproject/Build/
Uproject/Intermediate/
Uproject/Content/
Uproject/Config/

# Ignore anything past this point in MakePak
MakePak/Falcon/Plugins/Characters/Npc/CNS2092_Elora/

*.pak
*.blend1